section{
    display: flex;
    padding: 20px;
    margin:100px auto;
    width:70%;background-color: aquamarine;
}
section div{
    display: block;
    width: 20%;
    height:50px;
    background-color: brown;
    margin-left: 5px;line-height: 50px;text-align: center;color:white;
}